@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --border-md: 0.375rem;
  }
}

td.is-in-range {
  background-color: #dbe1ff;
}

td.is-fill-range {
  background-color: #eff4ff;
}
